$layoutWidth: 1200px;
$accentColor: #4e9bc6;
$background: #070707;
$lightBackground: #fff;
$textColor: white;
$lightTextColor: black;
$layoutPadding: 20px;

$defaultShadowColor: #1e347e;

$mainFont: "Open Sans", sans-serif;
